@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


 .form2 {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    position: center;
  }
  
  input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    color:#59429d;
    align-items: center;
    width: 300px;
    height: 50px;
    padding: 2px 5px;
  }

  textarea{

    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    color:#59429d;
    align-items: center;
    width: 1200px;
    height: 250px;
    padding: 2px 5px;
  }

  input[type=radio]{


    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding: 2px 5px;
    color:#59429d;
    align-items: center;

  }

  

  
  .buttoncenter {
    background-color: #e0dbf0;
    color: #59429d;
    width: 200px;
    height: 50px;
    padding: 2px 5px;
    border-radius: 20px;
    font-size: 1rem;   
    font-family: "Montserrat", sans-serif;
    
    
  }
  .buttoncenter:hover {
    background: #725ebb;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

  body {

  font-family: "Montserrat", sans-serif;
  background-color: #b09ae2;

}

.h1{

    font-family: "Montserrat";
    color: white;
    text-align: left;
}


.navMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8375d3;
}


  li {
    float: right;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
   
  }

  
  
 


.navMenu a:hover {
  color: #fddb3a;
}


   
