@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {

    font-family: "Montserrat", sans-serif;
    background-color: #b09ae2;
  
  }
  
  .h1{
  
      font-family: "Montserrat";
      color: white;
      text-align: left;
  }

  #post{
    
    min-height: 150px;
    min-width: 400px;
  border: 5px solid #8375d3;
  border-radius: 20px;
  padding: 5%;
  background-color: #c3b9ff;
    
    }
  
    #post2{
    
        min-height: 150px;
        min-width: 400px;
      border: 5px solid #8375d3;
      border-radius: 20px;
      padding: 5%;
      background-color: #c3b9ff;
        
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        #post3{
    
            min-height: 150px;
            min-width: 400px;
          border: 5px solid #8375d3;
          border-radius: 20px;
          padding: 5%;
          background-color: #c3b9ff;
            
            }
  
  .navMenu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #8375d3;
  }
  
  
    li {
      float: right;
      list-style-type: none;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
     
    }
  
    
    
   
  
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  