@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.logo{
  margin: 5px 30px;
  width: 10%;
}

.logo img{
  width: 100%;
}

#sobre{
  min-height: 150px;
  border: 5px solid black;
  background: #5f537c;
  border-radius: 20px;
  box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.75);
  padding: 5%;
  
  }
body {
  background: #b09ae2;
  font-family: "Montserrat", sans-serif;
}

.h1{

    font-family: "Montserrat";
    color: white;
    text-align: left;
}

.h2{
  text-align: center;
}

.inicio{
  text-align: center;
  
}


.navMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8375d3;
}


  li {
    float: right;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
   
  }

  
  
 


.navMenu a:hover {
  color: #fddb3a;
}


/* estilo para o rodapé */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


.movie-container {
  display: flex;
  }
  
  .movie {
  margin-right: 20px;
  text-align: center;
  }
  
  .movie img {
  max-width: 200px;
  border: 1px solid #ccc;
  }
  
  .movie h3 {
  margin-top: 10px;
  }
  
  .section {
  min-height: 500px;
  border: 7px solid #b09ae2;
  background-color: #b09ae2;
  padding-top: 5%;
  }




 




